body {
    background-color: white;
    font-family: 'Roboto', arial;
    margin: 0px;
}

.header-bar {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
    padding: 0px;
}

.logo img{
    flex: 1 1 0;
    padding-left: 30px;
    margin-right: auto;
    width: 80px;
}

.links {
    display: flex;
    margin-left: auto;
    padding: 30px
}

.links a{
    color: #E5E7EB;
    align-items: end;
    padding: 15px;
    text-decoration: none;
}

.section1 {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.section1-text {
    flex-direction: column;
    flex-basis: 600px;
    color: #E5E7EB;
    font-size: 48px;
    font-weight: bold;
    margin: 100px;
}

.section1-text p {
    font-size: 24px;
}

.section1-text button {
    color: #E5E7EB;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', arial;
    text-decoration: none;
    width: 125px;
    background: #3882f6;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.section1-img {
    flex-basis: 450px;
    margin: 40px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.section2-head {
    font-size: 36px;
    margin: 0px;
}

.section2-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.crew {
    margin: 0px;
    text-align: center;
}

.crew img{
    width: 250px;
    border: 4px solid #be350b;
    border-radius: 8px;
    margin: 0px 20px 0px 20px;
}

.section3 {
    display: flex;
    flex-direction: column;
    padding: 40px 250px;
    font-size: 36px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote {
    align-self: start;
}

.quoted {
    align-self: end;
    font-weight: bold;
}